.zoom-control {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.zoom-control .btn {
  font-size: 0.75rem !important;
}

.quay-popup {
  display: none;
  position: absolute;
  height: auto;
  z-index: 1;
  .table {
    table-layout: fixed;
    margin-top: 0;
    width: 240px;
    th {
      vertical-align: middle;
    }
  }
}

.popup-table {
  td.code-green {
    background-color: #80ff40;
    font-weight: bold;
  }
  td.code-red {
    background-color: #ff0000;;
    color: white;
    font-weight: bold;
  }
}

.result-table {
  position: fixed;
  width: 144px;
  margin-right: 12px;
  bottom: 80px;
  right: 30px;
}
