<app-control-panel
  [typhoonSpeed]="typhoonSpeed$ | async"
  [years]="yearOptions$ | async"
  [typhoons]="typhoonOptions$ | async"
  [schedules]="schedulesOptions$ | async"
  (yearChange)="yearChangeEvent.next($event)"
  (typhoonChange)="typhoonChangeEvent.next($event)"
  (scheduleChange)="scheduleChangeEvent.next($event)"
></app-control-panel>
<app-canvas
  [coastLines]="coastLines"
  [coastLinePs]="coastLinePs"
  [roadCenterLines]="roadCenterLines"
  [quayNames]="quayNames"
  [roads]="roads"
  [lotSmalls]="lotSmalls"
  [lotMiddles]="lotMiddles"
  [maxZoomLevel]="MAX_ZOOM_LEVEL"
  [minZoomLevel]="MIN_ZOOM_LEVEL"
  [quayMooringSchedules$]="quayMooringSchedules$"
></app-canvas>
