<div class="contorl-panel">
  <div class="card">
    <div class="card-header">
      <img src="assets/images/logo.jpg" alt="DSME" width="72px" height="32px" />
      안벽계류 정보 안내
    </div>
    <div class="card-block">
      <div class="card-title">
        <clr-icon shape="cloud" size="24"></clr-icon>
        태풍 기준풍속
      </div>
      <div class="card-text">
        30m/s (10분 평균)
      </div>
      <div class="card-title">
        <clr-icon shape="calendar" size="24"></clr-icon>
        계류일정
      </div>
      <!-- 년도 태풍정보 일정 -->
      <div class="card-text select-controls">
        <clr-select-container>
          <label>년도</label>
          <select clrSelect name="options">
            <option value="one">2019년</option>
          </select>
        </clr-select-container>
        <clr-select-container>
          <label>태풍정보</label>
          <select clrSelect name="options">
            <option value="one">25호 콩레이</option>
          </select>
        </clr-select-container>
        <clr-select-container>
          <label>일정</label>
          <select clrSelect name="options">
            <option value="one">04-29-R0</option>
          </select>
        </clr-select-container>
      </div>
    </div>
  </div>
</div>
