.contorl-panel {
  display: flex;
  position: fixed;
  justify-content: space-between;
  // align-items: center;
  z-index: 1;
  padding: 0 1.5%;
  width: 100%;
  padding-top: 12px;
  .logo {
    color: black;
    font-size: 20px;
  }
  .card {
    margin-top: 5px;
    width: 650px;
    .card-header {
      // display: flex;
      .controls-wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .typhoon-info {
          display: flex;
          align-items: center;
        }
        .select-controls {
          display: flex;
          justify-content: space-between;
          width: 46%;
        }
      }
    }
  }
}

.card-block {
  padding: 20px;
}
.clr-form-control {
  margin-top: 0;
}
